{
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": ["*.css", "*.scss", "*.less"], 
      "options": {
        "parser": "css",                     
        "singleQuote": false,                
        "tabWidth": 4                       
      }
    },
    {
      "files": ["*.tsx", "*.jsx"],          
      "options": {
        "parser": "babel-ts",            
        "trailingComma": "es5",               
        "jsxBracketSameLine": true            
      }
    }
  ]
}
