#root {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.subtitle {
    opacity: 60%;
}

/* Proofing template */

main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    max-width: 100vw;
    width: 100%;
}

.side-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    max-width: 48%;
    width: 48%;
}

.app {
    width: 100%;
}

.github-icon {
    font-size: 1.6rem;
    color: black;
}

.button {
    color: aliceblue;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.4s;
}

.button:hover {
    background-color: #404040;
}

.dropdown {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
    background-color: #1a1a1a;
    border-radius: 8px;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.4s;
}

.dropdown:hover {
    background-color: #404040;
}

.dropdown option {
    background-color: #1a1a1a; /* Or any color you want */
    color: aliceblue; /* Or any color you want */
}

.dropdown:hover option {
    background-color: #1a1a1a; /* Or any color you want */
}

#lineHeightInputLeft {
    border: 2px solid #ccc; /* Light dashed border */
    border-radius: 8px; /* Rounded corners */
    background-color: white; /* Optional: Make the background transparent */
    padding: 8px; /* Adjust padding according to your preference */
    font-size: 16px; /* Adjust font size according to your preference */
    text-align: center;
    color: #333; /* Text color */
    transition: background-color 0.4s;
    width: fit-content;
}

#lineHeightInputLeft:hover {
    background-color: #f0f0f0;
}

#lineHeightInputLeft:focus {
    outline: none; /* Removes the default outline */
    border: 2px solid rgb(182, 173, 173);
}

.lineHeightInput {
    border: 2px solid #ccc; /* Light dashed border */
    border-radius: 8px; /* Rounded corners */
    background-color: white; /* Optional: Make the background transparent */
    padding: 8px; /* Adjust padding according to your preference */
    font-size: 16px; /* Adjust font size according to your preference */
    text-align: center;
    color: #333; /* Text color */
    transition: background-color 0.4s;
    width: fit-content;
}

.lineHeightInput:hover {
    background-color: #f0f0f0;
}

.lineHeightInput:focus {
    outline: none; /* Removes the default outline */
    border: 2px solid rgb(182, 173, 173);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-variant);
    padding: 1.25rem;
    margin-block-start: 8rem;
}

@media print {
    .title,
    .subtitle,
    .button,
    .dropdown,
    .font-features,
    .font-uploader,
    .footer-text,
    .github-icon,
    .line-height-adjustment {
        display: none;
    }
    .main > .side-container * {
        display: block;
    }
}
