#root {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.subtitle {
    opacity: 60%;
}

/* Proofing template */

main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    max-width: 100vw;
    width: 100%;
}

.side-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 48%;
    width: 48%;
}

.app {
    width: 100%;
}

.github-icon {
    font-size: 1.6rem;
    color: var(--color-bg-variant-dark);
}

.button {
    color: aliceblue;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.4s;
}

.button:hover {
    background-color: #404040;
}

.dropdown {
    user-select: none;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    min-width: 180px;
}

.dropbtn {
    padding: 0.6em 1.2em;
    color: aliceblue;
    background-color: #1a1a1a;
    border-radius: 8px;
    text-align: center;
    border: 1px solid transparent;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.4s;
    font-weight: 500;
    min-width: 180px;
}

.dropbtn:hover {
    background-color: #404040;
    transition: background-color 0.4s;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #404040;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    min-width: 180px;
    position: absolute;
    text-align: center;
    color: aliceblue;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #404040;
    transition: background-color 0.4s;
    text-decoration: none;
}

.dropdown-content a {
    color: aliceblue;
    background-color: #1a1a1a;
    text-decoration: none;
    display: block;
    padding: 0.1em 1.2em;
}

.dropbtn::after {
    margin-left: 10px;
    margin-top: 5%;
    float: right;
    right: 10px;
    content: "   ▼";
    font-size: 0.5rem;
}

.lineHeightInput {
    border: 2px solid #ccc;
    /* Light dashed border */
    border-radius: 8px;
    /* Rounded corners */
    background-color: white;
    /* Optional: Make the background transparent */
    padding: 8px;
    /* Adjust padding according to your preference */
    font-size: 16px;
    /* Adjust font size according to your preference */
    text-align: center;
    color: #333;
    /* Text color */
    transition: background-color 0.4s;
    width: 5rem;
}

.lineHeightInput:hover {
    background-color: #f0f0f0;
}

.lineHeightInput:focus {
    outline: none;
    /* Removes the default outline */
    border: 2px solid rgb(182, 173, 173);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-variant);
    padding: 1.25rem;
    margin-block-start: 8rem;
}

.font-features {
    margin-top: 0.5rem;
}

.line-height-adjustment {
    margin-top: 0.5rem;
}

@media print {
    .title,
    .subtitle,
    .button,
    .dropdown,
    .font-features,
    .font-uploader,
    .footer-text,
    .github-icon,
    .dark-mode-button-container,
    .line-height-adjustment {
        display: none;
    }

    .main > .side-container * {
        display: block;
    }
}
