#root {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.subtitle {
    opacity: 60%;
}

/* Proofing template */

main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    max-width: 100vw;
    width: 100%;
}

.side-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    max-width: 48%;
    width: 48%;
}

.app {
    width: 100%;
}

.github-icon {
    font-size: 1.6rem;
    color: black;
}

.button {
    color: aliceblue;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-variant);
    padding: 1.25rem;
    margin-block-start: 8rem;
}

@media print {
    .title,
    .subtitle,
    .button,
    .font-uploader,
    .footer-text,
    .github-icon,
    .line-height-adjustment {
        display: none;
    }
    .main > .side-container * {
        display: block;
    }
}
