.template-single-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block-end: 20px;
}

.template-double-columns {
    display: flex;
    gap: 1.5rem;
    overflow-y: hidden;
}
