.font-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.drop-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #808080;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 14vh;
    width: 60vh;
}

.input-button {
    padding: 10px;
    margin-block-start: 10px;
    padding-inline-start: 70px;
}

.descriptor {
    margin-top: 20px;
    font-size: large;
}