.font-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25em;
}

.drop-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #808080;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 7em;
    width: 28em;
}

.input-button {
    padding: 0.75em;
    margin-block-start: 0.75em;
    padding-inline-start: 6.5em;
}

.descriptor {
    margin-block-start: 1em;
    font-size: 1.2rem;
}
