.drop-area {
    position: relative;
    align-items: center;
    border-radius: 24px;
    border: 2px dashed var(--color-border);
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
    text-align: center;
    width: 100%;
}

.selected-fonts {
    margin-top: 10px;
}

.input-button {
    /* Cross-browser opacity lines*/
    opacity: 0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
    cursor: pointer;
 }
