.submitButton {
    background-color: #1a1a1a;
    color: aliceblue;
    border: none;
    border-radius: 0px 12px 12px 0px;
    text-align: center;
    text-decoration: none;
    margin-left: -2px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    transition: background-color 0.4s;
}

.submitButton:hover {
    background-color: #404040;
}

.borderless-input {
    border: 2px dashed #ccc; /* Light dashed border */
    border-radius: 12px 0px 0px 12px; /* Rounded corners */
    background-color: white; /* Optional: Make the background transparent */
    padding: 8px; /* Adjust padding according to your preference */
    font-size: 16px; /* Adjust font size according to your preference */
    color: #333; /* Text color */
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: background-color 0.4s;
}

.borderless-input:hover {
    background-color: #f0f0f0;
}

.borderless-input:focus {
    outline: none; /* Removes the default outline */
    border: 2px solid rgb(182, 173, 173);
}

.google-font-bar {
    display: flex;
    margin-top: 0.5rem;
}
