.centered-line {
    margin: 0;
    text-overflow: clip;
    overflow-x: clip;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    line-height: 1.15;
    transition: background-color 0.4s;
    text-align: center;
}

.centered-line:hover {
    background-color: rgb(252, 228, 226);
}
