.centere-line-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0.5rem;
    transition: background-color 0.4s;
}

.centered-line {
    margin: 5px;
    transition: background-color 0.4s;
    text-overflow: clip;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
    vertical-align: middle;
}

.centered-line:hover {
    background-color: rgb(252, 228, 226);
}
