body.dark-mode {
    --color-hover-highlight: var(--color-hover-highlight-dark);
}

body:not(.dark-mode) {
    --color-hover-highlight: var(--color-hover-highlight-light);
}

.title-line {
    height: 100%;
    max-height: fit-content;
    margin: 5px;
    transition: background-color 0.4s;
    text-overflow: clip;
    overflow-x: clip;
    overflow-y: clip;
    text-align: center;
    vertical-align: middle;
    padding-top: 6%;
    padding-bottom: 6%;
}

.title-line:hover {
    background-color: var(--color-hover-highlight);
}
