body.dark-mode {
    --color-hover-highlight: var(--color-hover-highlight-dark);
}

body:not(.dark-mode) {
    --color-hover-highlight: var(--color-hover-highlight-light);
}

.half-width-line {
    margin-block-start: 0px;
    transition: background-color 0.4s;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: clip;
    overflow-y: clip;
}

.half-width-line:hover {
    background-color: var(--color-hover-highlight);
}

.half-width-line-container {
    width: 48%;
}
