.sizing-token {
    color: var(--color-fg-variant);
    font-family: var(--font-stack-default);
    font-size: 0.8rem;
    overflow-x: clip;
    text-overflow: clip;
    width: 60px;
    margin-block-start: 0px;
    margin-block-end: 5px;
}
