#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.subtitle {
    opacity: 60%;
}

.battle-ground {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-block-start: 20px;
}

.vs {
    font-size: 2rem;
    font-weight: bold;
    margin-block-end: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.placeholder {
    font-size: 30px;
}
