#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.home-screen-sentence {
    font-family: system-ui, "Segoe UI", sans-serif;
}

.battle-ground {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-block-start: 20px;
}

.vs {
    font-size: 2rem;
    font-weight: bold;
    margin-block-end: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.placeholder {
    font-size: 30px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}
