:root {
    --font-stack-default: Inter, system-ui, "Segoe UI", sans-serif;
    color-scheme: light;
    font-family: var(--font-stack-default);
    font-size: 16px;
    line-height: 1.5;
    --color-bg: rgb(98% 98% 98%);
    --color-fg: rgb(12% 12% 12%);
    --color-fg-variant: rgb(60% 60% 60%);
    --color-border: rgb(86% 86% 86%);
    --color-accent: rgb(39.22% 42.35% 100%);
    --color-bg-variant: rgb(94.12% 94.12% 94.12%);

    --color-bg-dark: #1e1e1e; 
    --color-fg-dark: #f0f0f0; 
    --color-fg-variant-dark: #999999; 
    --color-border-dark: #666666; 
    --color-accent-dark: #007bff; 
    --color-bg-variant-dark: #333333; 
}

body {
    display: flex;
    align-items: flex-start;
    background: var(--color-bg);
    color: var(--color-fg);
    padding: 2rem 3.75rem;
}

body.dark-mode {
  background: var(--color-bg-dark);
  color: var(--color-fg-dark);
}

body.dark-mode button {
background-color: #333333;
color: #f0f0f0;
}

body.dark-mode .footer-text {
color: #333333;
}


header {
    text-align: center;
}

a {
    color: var(--color-accent);
    text-decoration-color: var(--color-accent);
    text-decoration-line: none;
    text-decoration-skip: all;
    text-decoration-thickness: max(1px, 0.06em);
    text-underline-offset: max(1px, 0.085em);
}

a:hover {
    text-decoration-line: underline;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.2em;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
